<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="LogEvent.ConfigFormat" value="Error" />
    <add key="LogEvent.FailedToGetServiceName" value="Error" />
    <add key="LogEvent.MissingConfig" value="Error" />
    <add key="LogEvent.FailedToStartService" value="Error" />
    <add key="LogEvent.StartingService" value="Info" />
    <add key="LogEvent.ServiceStarted" value="Info" />
    <add key="LogEvent.StoppingService" value="Info" />
    <add key="LogEvent.ServiceStopped" value="Info" />
    <add key="LogEvent.Info" value="Info" />
  </appSettings>
</configuration>